* {
    color: #cccccc;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    line-height: 1.5;
}

a {
    text-decoration: none;
    display: block;
    width: fit-content;
}

html,
body {
    background-color: #0e0e0e;
    margin: 0;
    width: 100%;
    display: flex;
    justify-content: center;
}

#body-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
    width: 675px;
}

.button-1 {
    width: fit-content;
    padding: 6px;
    border-radius: 6px;
    border: 1px solid transparent;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button-1:hover {
    scale: 110%;
}

.button-1 i {
    margin-right: 6px;
}

/* .divider-1 {
    width: 100%;
    height: 2px;
    background-color: #cccccc;
    margin-top: 20px;
    margin-bottom: 20px;
} */

/*
--------------------------------------------------
Section: Navigation
--------------------------------------------------
*/

nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

#nav-left-container {
    width: 360px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 18px;
}

#nav-left-container>a:hover {
    scale: 110%;
}

#nav-right-container {
    width: 160px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 42px;
}

#nav-right-container>div {
    width: 30px;
    height: 30px;
    border-radius: 6px;
    border: 1px solid transparent;
    display: flex;
    justify-content: center;
    align-items: center;
}

#nav-right-container>div:hover {
    scale: 110%;
    cursor: pointer;
}

#nav-right-container>div>i {
    font-size: 16px;
}

/*
--------------------------------------------------
Section: Header
--------------------------------------------------
*/

#header-container {
    margin-top: 60px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;
}

#header-text {
    width: 540px;
}

#header-name {
    font-size: 48px;
    margin: 0px;
}

#header-title {
    margin: 0px;
}

#header-picture {
    height: 140px;
    width: 140px;
    border-radius: 50%;
    overflow: hidden;
}

#header-picture>img {
    width: 140px;
    filter: grayscale();
}

/*
--------------------------------------------------
Section: Skills
--------------------------------------------------
*/

#skills-container {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    width: 100%;
}

#skill-cards-container {
    display: flex;
    justify-content: space-between;
}

.skill-card {
    width: 30%;
    padding: 14px;
    /* margin-right: 24px; */
    border: 1px solid transparent;
    border-radius: 8px;
    height: fit-content;
}

.skill-card>div {
    display: flex;
    align-items: center;
    margin: 8px;
    color: #909090;
}

.skill-card i {
    font-size: 24px;
    margin-right: 8px;
}

/*
--------------------------------------------------
Section: Projects
--------------------------------------------------
*/

#projects-container {
    margin-top: 40px;
    width: 100%;
}

.project-section {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 40px;
}

.project-section h3 {
    margin-top: 0px;
    margin-bottom: 8px;
}

.project-buttons {
    width: 170px;
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    margin-bottom: 20px;
}

.project-section img {
    width: 100%;
}

/*
--------------------------------------------------
Section: Contact
--------------------------------------------------
*/

#contact-container {
    margin-bottom: 200px;
    width: 100%;
    /* border: 1px solid red; */
}

#contact-options {
    display: flex;
    justify-content: space-between;
}

#contact-container form {
    display: flex;
    flex-direction: column;
    width: 430px;
}

#contact-container button {
    background-color: #1a1a1a;
    border: 1px solid #262626;
    border-radius: 6px;
    /* width: 100px; */
    height: 32px;
    color: #525252;
    font-size: 12px;
}

#contact-container button:hover {
    cursor: pointer;
    background:
        linear-gradient(#1a1a1a 0 0) padding-box,
        linear-gradient(90deg, rgb(100, 98, 203) 0%, rgb(212, 117, 117) 50%) border-box;
    border: 1px solid transparent;
}

#contact-container input {
    background-color: #1a1a1a;
    border: 1px solid #262626;
    border-radius: 8px;
    padding: 24px 8px 8px 8px;
    margin-bottom: 16px;
}

#contact-container input:focus {
    outline: none;
    background:
        linear-gradient(#1a1a1a 0 0) padding-box,
        linear-gradient(90deg, rgb(100, 98, 203) 0%, rgb(212, 117, 117) 50%) border-box;
    border: 1px solid transparent;
}

#message-container {
    height: 250px;
    margin-bottom: 16px;
    border: 1px solid #262626;
    overflow: hidden;
    border-radius: 8px;
    background-color: #1a1a1a;
    display: flex;
    align-items: flex-end;
}

#contact-container textarea {
    width: 100%;
    height: 216px;
    resize: none;
    background-color: #1a1a1a;
    border: none;
    border-top: 1px solid #262626;
    padding: 8px 14px 14px 14px;
    font-size: 14px;
}

#contact-container textarea:focus {
    outline: none;
}

#message-container:focus-within {
    background:
        linear-gradient(#1a1a1a 0 0) padding-box,
        linear-gradient(90deg, rgb(100, 98, 203) 0%, rgb(212, 117, 117) 50%) border-box;
    border: 1px solid transparent;
}

#contact-container label {
    height: 0px;
    position: relative;
    top: 8px;
    left: 10px;
    font-size: 12px;
    color: #525252;
}

#contact-right {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

#contact-right a {
    margin-bottom: 16px;
}

.contact-card {
    width: fit-content;
    padding: 6px;
    border-radius: 6px;
    border: 1px solid transparent;
    margin-bottom: 16px;
}

/*
--------------------------------------------------
Section: Dynamic sizing
--------------------------------------------------
*/

@media screen and (max-width: 375px) {

    /* Body */

    #body-wrapper {
        width: 300px;
        margin-top: 40px;
    }

    #nav-left-container {
        display: none;
    }

    /* Nav */

    nav {
        justify-content: center;
    }

    /* Header */

    #header-container {
        flex-direction: column-reverse;
        align-items: center;
        text-align: center;
    }

    #header-text {
        width: 100%;
    }

    #header-name {
        font-size: 32px;
    }

    #header-picture {
        margin-bottom: 20px;
    }

    /* Skills */

    #skill-cards-container {
        flex-direction: column;
    }

    .skill-card {
        width: 100%;
        margin-bottom: 24px;
    }
}

/*
--------------------------------------------------
Section: Border Gradients
--------------------------------------------------
*/

.gr1 {
    background:
        linear-gradient(#0e0e0e 0 0) padding-box,
        /* linear-gradient(90deg, rgb(203, 98, 201) 0%, rgb(116, 207, 223) 50%) border-box; */
        linear-gradient(90deg, rgb(233, 75, 75) 0%, rgb(230, 179, 77) 50%) border-box;
}

.gr2 {
    background:
        linear-gradient(#0e0e0e 0 0) padding-box,
        /* linear-gradient(90deg, rgb(106, 101, 175) 0%, rgb(64, 216, 155) 50%) border-box; */
        linear-gradient(90deg, rgb(230, 179, 77) 0%, rgb(64, 216, 155) 50%) border-box;
}

.gr3 {
    background:
        linear-gradient(#0e0e0e 0 0) padding-box,
        /* linear-gradient(90deg, rgb(203, 98, 121) 0%, rgb(213, 157, 82) 50%) border-box; */
        linear-gradient(90deg, rgb(64, 216, 155) 0%, rgb(82, 91, 213) 50%) border-box;
}

.gr4 {
    background:
        linear-gradient(#0e0e0e 0 0) padding-box,
        /* linear-gradient(90deg, rgba(62,180,58,1) 0%, rgba(29,188,253,1) 50%, rgba(131,58,180,1) 100%) border-box; */
        linear-gradient(90deg, rgb(100, 98, 203) 0%, rgb(212, 117, 117) 50%) border-box;
}

.gr5 {
    background:
        linear-gradient(#0e0e0e 0 0) padding-box,
        /* linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%) border-box; */
        linear-gradient(90deg, rgb(212, 117, 117) 0%, rgb(106, 222, 212) 50%) border-box;
}

.gr6 {
    background:
        linear-gradient(#0e0e0e 0 0) padding-box,
        /* linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%) border-box; */
        linear-gradient(90deg, rgb(106, 222, 212) 0%, rgb(100, 98, 203) 50%) border-box;
}


/* .gradient-border {
    background:
        linear-gradient(#0e0e0e 0 0) padding-box,
        linear-gradient(90deg, rgb(100, 98, 203) 0%, rgb(212, 117, 117) 50%) border-box;
    border: 3px solid transparent;
    border-radius: 8px;
} */
