* {
    color: #cccccc;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

a {
    text-decoration: none;
}

html,
body {
    background-color: #0e0e0e;
    margin: 0;
    width: 100%;
    display: flex;
    justify-content: center;
}

#body-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 60px;
    width: 800px;
}

/* Navigation */

nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

#nav-left-container {
    width: 360px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 18px;
}

#nav-left-container>a:hover {
    scale: 110%;
}

#nav-right-container {
    width: 160px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 42px;
}

#nav-right-container>div {
    width: 30px;
    height: 30px;
    border-radius: 6px;
    border: 1px solid #cccccc;
    display: flex;
    justify-content: center;
    align-items: center;
}

#nav-right-container>div:hover {
    scale: 110%;
    cursor: pointer;
}

#nav-right-container>div>i {
    font-size: 16px;
}

/* About */

#about-container {
    margin-top: 60px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

#about-text {
    width: 540px;
}

#about-name {
    font-size: 48px;
    margin: 0px;
}

#about-title {
    margin: 0px;
}

#about-intro {
    color: #909090;
}

#about-picture {
    height: 140px;
    width: 140px;
    border-radius: 50%;
    overflow: hidden;
}

#about-picture>img {
    width: 140px;
    filter: grayscale();
}

#projects-container {
    margin-top: 60px;
    width: 100%;
}

#projects-container>div {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
    border-radius: 14px;
}

.border-test {
    background:
        linear-gradient(#0e0e0e 0 0) padding-box,
        linear-gradient(90deg, #37e1ff, #d61fea) border-box;
    border: 3px solid transparent;
    border-radius: 8px;
}

@media screen and (max-width: 375px) {
    #body-wrapper {
        width: 300px;
        margin-top: 40px;
    }

    #nav-left-container {
        display: none;
    }

    nav {
        justify-content: center;
    }

    #about-container {
        flex-direction: column-reverse;
        align-items: center;
        text-align: center;
    }

    #about-text {
        width: 100%;
    }

    #about-name {
        font-size: 32px;
    }

    #about-picture {
        margin-bottom: 20px;
    }
}
